
LR4/LR4/Новый текстовый документ (2).txt
*.tlog
*.tlog
*.tlog
*.lastbuildstate
*.pch
*.obj
*.log
*.idb
*.pdb
*.obj
*.lastbuildstate
*.tlog
*.pch
*.log
*.exe
*.ilk
*.ipch
*.db
LR4/Optimization/LR4/.vs/LR4/v15/.suo
LR4/LR4/.vs/LR4/v15/.suo
